monolog:
    channels:
        - deprecation # Deprecations are logged in the dedicated "deprecation" channel when it exists

when@dev:
    monolog:
        handlers:
            main:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug
                channels: ["!event"]
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine", "!console"]

when@test:
    monolog:
        handlers:
            main:
                type: "null"

when@prod:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: group_nested
                excluded_http_codes: [404, 405]
                channels: ["!deprecation"]
                buffer_size: 50 # How many messages should be saved? Prevent memory leaks
            group_nested:
                type: group
                members: [nested_file, nested_stderr, nested_email]
            nested_file:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug
            nested_stderr:
                type: stream
                path: php://stderr
                level: debug
                formatter: monolog.formatter.json
            nested_email:
                type: symfony_mailer
                from_email: "%env(ERROR_LOG_SENDER)%"
                to_email: "%env(ERROR_LOG_RECIPIENT)%"
                subject: "[Reader] Error: %%message%%"
                level: error
                formatter: monolog.formatter.html
                content_type: text/html
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine"]
            deprecation:
                type: stream
                channels: [deprecation]
                path: "%kernel.logs_dir%/%kernel.environment%.log"
