###> symfony/framework-bundle ###
.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webapp-pack ###
/node_modules/
###< symfony/webapp-pack ###

# IDE
/.idea/
/.vscode/
*.swp
*.swo
.phpactor.json

# Docker
compose.yaml
compose.override.yaml

# OS
.DS_Store
Thumbs.db

# Database files
/var/data/*.db

# Cache
*.cache

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

# Code coverage
coverage.xml
coverage-html
coverage-report
