/* ========================================
   #subscriptions - Manage subscriptions
   ======================================== */

#subscriptions {
    & .form-row p a {
        word-break: break-all;
    }
}
