/* ========================================
   #subscriptions - Manage subscriptions
   ======================================== */

#subscriptions {
    & .subscription-row {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
        margin-bottom: var(--spacing-lg);

        & p a {
            word-break: break-all;
        }
    }
}
