/* ========================================
   #subscriptions - Manage subscriptions
   ======================================== */

#subscriptions {
    --width-content: 768px;

    & .form-row p a {
        word-break: break-all;
    }
}
