/* ========================================
   #preferences - User preferences page
   ======================================== */

#preferences {
    & .section-logout {
        display: flex;
        justify-content: flex-start;
    }
}
