# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: "../src/"
        exclude:
            - "../src/Domain/Discovery/Resolver/"

    # FeedIo configuration
    Psr\Http\Client\ClientInterface:
        class: Symfony\Component\HttpClient\Psr18Client

    FeedIo\Adapter\Http\Client:
        arguments:
            $client: '@Psr\Http\Client\ClientInterface'

    FeedIo\FeedIo:
        arguments:
            $client: '@FeedIo\Adapter\Http\Client'
            $logger: "@logger"

    # Feed Processor configuration
    App\Domain\Feed\Processor\HtmlSanitizerProcessor:
        arguments:
            $feedContentSanitizer: "@html_sanitizer.sanitizer.app.feed_content_sanitizer"

    App\EventListener\SqliteWalListener:
        tags:
            - { name: doctrine.event_listener, event: postConnect }

    App\Twig\AssetInlineExtension:
        arguments:
            $publicDir: "%kernel.project_dir%/public"

    App\Domain\Discovery\Resolver\YouTubeChannelResolverService:
        tags:
            - { name: "app.feed_resolver", priority: 20 }

    App\Domain\Discovery\Resolver\RedditSubredditResolverService:
        tags:
            - { name: "app.feed_resolver", priority: 10 }

    App\Domain\Discovery\Resolver\FeedIoResolverService:
        tags:
            - { name: "app.feed_resolver", priority: 0 }

    App\Domain\Discovery\Resolver\ChainedResolverService:
        arguments:
            $resolvers: !tagged_iterator app.feed_resolver

    App\Domain\Discovery\FeedResolverInterface:
        alias: App\Domain\Discovery\Resolver\ChainedResolverService
