# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: "../src/"

    # FeedIo configuration
    Psr\Http\Client\ClientInterface:
        class: Symfony\Component\HttpClient\Psr18Client

    FeedIo\Adapter\Http\Client:
        arguments:
            $client: '@Psr\Http\Client\ClientInterface'

    FeedIo\FeedIo:
        arguments:
            $client: '@FeedIo\Adapter\Http\Client'
            $logger: "@logger"

    # Feed Services configuration
    App\Service\FeedContentService:
        arguments:
            $feedContentSanitizer: "@html_sanitizer.sanitizer.app.feed_content_sanitizer"

    App\Service\FeedPersistenceService:
        arguments:
            $contentEntityManager: "@doctrine.orm.content_entity_manager"

    App\MessageHandler\RefreshFeedsHandler:
        arguments:
            $subscriptionsEntityManager: "@doctrine.orm.subscriptions_entity_manager"

    # Repository configurations with correct entity managers
    App\Repository\Users\UserRepository:
        arguments:
            $registry: "@doctrine"
        tags:
            - { name: doctrine.repository_service }

    App\Repository\Users\ReadStatusRepository:
        arguments:
            $registry: "@doctrine"
        tags:
            - { name: doctrine.repository_service }

    App\Repository\Subscriptions\SubscriptionRepository:
        arguments:
            $registry: "@doctrine"
        tags:
            - { name: doctrine.repository_service }

    App\Repository\Content\FeedItemRepository:
        arguments:
            $registry: "@doctrine"
        tags:
            - { name: doctrine.repository_service }

    App\Repository\Messages\ProcessedMessageRepository:
        arguments:
            $registry: "@doctrine"
        tags:
            - { name: doctrine.repository_service }

    App\EventListener\SqliteWalListener:
        tags:
            - { name: doctrine.event_listener, event: postConnect }

    App\Twig\AssetInlineExtension:
        arguments:
            $publicDir: "%kernel.project_dir%/public"
